<% content_for(:style) do %>
<%= @location.avatar.url(:medium) %>
<% end %>

<div class="location">
  <h1><%= @location.name %></h1>

<h2>What's behind each door?</h2>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "door.png" %>
  </div>
</div>

<h2> Back to adventures </h2>
</div>
